<p></p>

<div class="jumbotron mycustom-jumbotron text-center">
  <h2 style="text-align: left; width: 40vw; margin: auto; margin-bottom: 12px; margin-top: -40px; font-weight: bold; font-family: 'Roboto';">Logical analysis</h2>
  <div id="divider">&nbsp;</div> 
  <p class="main-text" style="text-align: left;">
    In this section we will look at the communications within the game.
    We will look at the types of communications that are allowed, and their effect on the game.
    We want to look at the how the communications affect the state of knowledge, and the effects on the game.
  </p>
  <p></p>
  <p class="main-text" style="text-align: left;">
    First we want to define the 'quality' of a card.
    With this we want to be able to give some performance to the cards in a given situation, to be able to make a decision about which is the best to play.
    The closer a card is to the card that is currently on top of the stack, the better the card.
    A card very close to the current number, allows for more other possible cards to be played after.
  </p>
  <p></p>
  <p class="main-text" style="text-align: left;">
    The rules state that you cannot share knowledge about specific numbers, but there are a lot of communications that give a lot of information without mentioning specific numbers.
    Because the type of communication that is allowed is not strictly governed by the rules, we will be looking at multiple options.
    Firstly we will give a default type of communication strategy.
    This would be using communication in which the non-playing agent states for every stack, whether it has a good or a bad card.
    Here a good card would be a card in the top half of all card that can be played, ranked by their 'quality' as presented above.
    In a logical system this could be represented by a public announcement.
    In the final version we will give a more in depth look a the logical structure of this announcement, and its effects on the Kripke models.
  </p>
  <p></p>
  <p class="main-text" style="text-align: left;">
    Then we will vary this default communication strategy in several categories:
  </p>
  <p></p>
  <ul class="main-list">
    <li >
      <a> <a class="list-title">Number of announcements per turn</a>: For this variation we will look at the effects of multiple rounds of announcements. Every announcement will provide more information.</a>
    </li>
    <li>
      <a> <a class="list-title">Percentage range of the announcement</a>: For this strategy we will experiment with the percentiles (the default is 50).
        We will look at the 10<sup>th</sup> and 25<sup>th</sup> percentiles, which represent the range where a card is considered 'good'. </a>
    </li>
    <li>
      <a> <a class="list-title">Absolute range of the announcement</a>: In this case we take the good statement not to mean having a card in a certain percentile, but having a card in the top <i>k</i>  cards. </a>
    </li>
    <li>
      <a> <a class="list-title">Announcement about stack preference</a>: Here, we will experiment with announcements that only say something about which stack the agent prefers.
      This preference is based on which stack the agent has better cards for. </a>
    </li>
  </ul>
</div>
<p></p>
