<p></p>

<div class="jumbotron mycustom-jumbotron text-center">
  <h2 style="text-align: left; width: 40vw; margin: auto; margin-bottom: 12px; margin-top: -40px; font-size: larger; font-weight: bold; font-family: 'Roboto';">Analysis</h2>
  <div id="divider">&nbsp;</div>
  <p class="main-text" style="text-align: left;">
    In this section we will look at the communications within the game.
    We will look at the types of communications that are allowed, and their effect on the game.
    We want to look at the how the communications affect the state of knowledge, and by proxy, how it affects a Kripke model of the game.
  </p>
  <p></p>
  <p class="main-text" style="text-align: left;">
    First we want to define the 'quality' of a card.
    With this we want to be able to give some value to the cards in a given situation, to be able to make a decision about which is the best to play.
    The closer a card is to the card that is currently on top of the stack, the better the card.
    A card very close to the current number, allows for more other possible cards to be played after.
  </p>
  <p></p>
  <p class="main-text" style="text-align: left;">
    The rules state that you cannot share knowledge about specific numbers, but there are a lot of communications that give information without mentioning specific numbers.
    Since the type of communication that is allowed is not strictly governed by the rules, we will be looking at multiple options.
    More concretely, we will look at three different settings.
    <!-- First we will give a default type of communication strategy.
    This would be using communication in which the non-playing agent states for every stack, whether it has a good or a bad card.
    Here a good card would be a card in the top half of all card that can be played, ranked by their 'quality' as presented above.
    In a logical system this could be represented by a public announcement, removing a set of worlds from a Kripke model. --> 
  </p>
  <p></p>
  <ul class="main-list">
    <li>
      <a> <a class="list-title">Relative range of the announcement</a>: We will look at the 50<sup>th</sup>, which represent the range where a card is considered 'good'. This is similar to the aforementioned default strategy.</a>
    </li>
    <li>
      <a> <a class="list-title">Absolute range of the announcement</a>: In this case we take the good statement not to mean having a card in a certain percentile, but having a card in the top <i>k</i>  cards. </a>
    </li>
    <li >
      <a> <a class="list-title">Number of announcements per turn</a>: For this variation we will look at the effects of multiple rounds of announcements. Every announcement will provide more information.</a>
    </li>
  </ul>
  <p></p>
  <p class="main-text" style="text-align: left;">
    In a logical system, these communications will be represented by public announcements that remove worlds from a Kripke model.
    Any Kripke structure that is designed for this task, has to contend with two problems:
    a simulation that included Kripke worlds for all possible card combinations would not be manageable and the state of the game changes every round.
    Meaning that an accurate Kripke model needs to be rebuild every turn.
    Because of this, the Kripke structure has a unique form.
    It needs to accurately capture the beliefs, but also be fast enough to be built quickly.
  </p>
  <p></p>
  <p class="main-text" style="text-align: left;">
    Our implementation accomplishes this by only modeling the best card each player has for a certain stack.
    Structuring the model like this means that we reduce the amount of worlds in our model significantly.
    For every world in the model a set of exactly four propositions holds.
    This set contains one proposition for each player for each stack.
    The specific proposition that holds is based on which card that player has for the stack.
    In this implementation, the form of the propositions is made up of three parts.
    A possible proposition could be P<sub>1</sub>S<sub>2</sub>3.
    The first part P<sub>1</sub>, tells you this will be about player one.
    The second part S<sub>2</sub> tells you this proposition relates to stack two.
    Lastly the 3 tells you that this proposition represents the card three.
    So the proposition P<sub>1</sub>S<sub>2</sub>3 tells you that player one for stack two has as their best card a three.
    At the start of every round, a Kripke structure can be built containing all worlds that are still possible.
    The relations between these world are ordered around the following idea:
    A player can only distinguish between worlds where propositions relating to their cards differ.
  </p>
  <p></p>
  <p class="main-text" style="text-align: left;">
    The announcements in this framework can be divided up into three parts.
    The first part is the collections of a set of possible worlds.
    This is done through the Kripke structure, as it allows you to check which worlds are still possible.
    The corresponding cards numbers relating to those worlds can then be used to construct a set of possible cards.
    In the second part, the set can then be ordered based on the "quality" of the cards in that set.
    After ordering the cards, the type of announcement combined with the actual value of the best card that you have, will determine the announcement.
    This can be seen as splitting the set based on the announcement type, and determining in which subset your card is.
    The last part is making the actual announcement that will change the Kripke model.
    An announcement of "my best card is in the top half of all possible cards", is equivalent to "I do not have a 99, nor a 98, nor a 97... nor a 51".
    This form is easily adaptable into a logical announcement compliant with the Kripke model.
    The system will construct an announcement as the exclusion of all the cards that were not in the subset in which the announcer's actual card was.
  </p>
</div>
<button (click)="topFunction()" id="myBtn" title="Go to top ">&uarr; &uarr; &uarr;</button>
