* {
    font-family: 'Muli', sans-serif;
    color: black;
}

.body {
  text-align:center;
  background-color: #685330;
}

.mycustom-jumbotron {
  background-color: #edf0f3;
  opacity: 1;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 46vw;
}

.main-text {
  width: 40vw;
  margin: auto;
  font-size: medium;
  font-family: 'Muli', sans-serif;
}

.main-list {
  align-self: left;
  width: 40vw;
  margin: auto;
  font-size: medium;
  text-align: left;
}

.list-title {
  font-weight: bold;
}

html {overflow-y: scroll;}

#divider {
  position: relative;
  top: -2vh;
  left: 0.7vw;
  bottom: 5px;
  width : 7vw;
  text-align : left;
  border-bottom : 2px solid #f7bb2e;
  }