* {
    font-family: 'Muli', sans-serif;
    color: black;
}

.body {
  text-align:center;
  background-color: #685330;
}

.mycustom-jumbotron {
  background-color: #edf0f3;
  opacity: 1;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 46vw;
}

.main-text {
  width: 40vw;
  margin: auto;
  font-size: medium;
  font-family: 'Muli', sans-serif;
}

.main-list {
  align-self: left;
  width: 40vw;
  margin: auto;
  font-size: medium;
  text-align: left;
}

.list-title {
  font-weight: bold;
}

html {overflow-y: scroll;}
