.title-text {
  font-size: x-large;
  font-family: 'Comfortaa', sans-serif;
}

.title {
  font-weight: bold;
  color: #f7bb2e;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.names-text {
  font-size: medium;
  margin: auto;
}


.names {
  color: rgb(236, 236, 236, 0.6);
}

.nav-link {
  font-size: medium;
}

.nav-link:hover {
  color: #f7bb2e !important;
}

.active {
  border-bottom: 2px solid rgb(236, 236, 236, 0.5);
}

.navbar {
  display: flex;
  background: #315f80;
}
