<p></p>

<div class="jumbotron mycustom-jumbotron text-center">
  <h2 style="text-align: left; width: 40vw; margin: auto; margin-bottom: 12px; margin-top: 2px; font-weight: bold; font-family: 'Roboto';">The Game?</h2>
  <p class ="main-text" style="text-align: left;">The Game is a card game that can be played with 1 to 5 players.
    It is a cooperative game where player play together against the game. Instead of a traditional deck, the game uses cards numbered from 2 to 99.
    The game is setup with four cards on the table; two 1s and two 100s. Each player is dealt a number of cards from the deck, depending on how many players play.
    The goal of the game is for every player to discard all of their cards.
    This can be done on either of the four cards on table by placing cards larger than the current cards on the stack on the 1 cards and cards lower than the current cards on the stack on the 100 cards.
    Every round each player must discard at least two cards, but there is no maximum.
    The caveat is that players can communicate, but with some restrictions.
    Players can't mention the cards they have, but they can give vague comments such as: "I have a good card for this stack" or "My cards won't be good for this stack".
  </p>
  <p></p>
  <p class ="main-text" style="text-align: left;">
    The knowledge and the communication of players can be captured using epistemic and public announcement logic.
    In this project, we will model all the knowledge in the game and how public announcements can change this knowledge.
    Specifically, we will explore how different communication strategies change the knowledge of the player and thus the outcome of the game.
  </p>
  <p></p>
  <p class="main-text" style="text-align: left;">
    Though the game seems simple, playing with the aforementioned rules would lead to an explosion of knowledge states.
    Therefore, we will simplify the game in the following ways.
    We will play with only two players and two stacks of cards on the table, one that goes from 1 to 20 and one that goes from 20 to 1.
    However, this isn't set in stone, if, during the project, we find that these rules are too restricting or still to broad, we will change them.
  </p>
  <p></p>
  <p class="main-text" style="text-align: left;">
    To get a clear and manageable idea of the knowledge that is exchanged in during a state we will look at only one turn.
    This allow us to look at how the transfer of knowledge can be accomplished, and what the limits are.
    The game leaves some ambiguity as to what communications are allowed.
    You cannot communicate information about the exact numbers you are holding, but other communications are allowed.
    Therefore, we will explore various methods of communication to see how the knowledge in the game responds to these different announcements.
  </p>
  <p></p>
  <p class="main-text" style="text-align: left;">
    The different types of communication will be explored by looking at how the Kripke model changes when an announcement is made, how the agents respond to this change and whether there still is a optimal strategy.
  </p>
</div>
<button (click)="topFunction()" id="myBtn" title="Go to top ">&uarr; &uarr; &uarr;</button>
