<div class="jumbotron mycustom-jumbotron text-center">
  <h2 style="text-align: left; width: 40vw; margin: auto; margin-bottom: 12px; margin-top: -40px; font-weight: bold; font-family: 'Roboto';">Implementation</h2>
  <div id="divider">&nbsp;</div> 
  <p class="main-text" style="text-align: left;">
  We have created a program that simulates playing The Game, both for analytical purposes as well as graphical purposes. The following image
  shows the graphical simulation which aims to help visualize what each player announces, and what the effect of these announcements is on the game.
  In this simulation, you are free to choose what the announcement type the user would like to be used (<b>absolute</b>, <b>relative</b> or <b>none</b>).
  Furthermore, the number of announcements that a player can make in a turn can be specified (1, 2 or 3 announcements).
  </p>
  <div class="imgcenter">
  <img class="guiimg" src="assets/imgs/gui.png" height="288" width="576">
  </div>
  <p class="main-text" style="text-align: left;">
    The analytical simulation variant differs from the graphical option in that there is no visualisation. This analytical variant is used to
    perform our experiments with, as explained in the <a href="https://lamas-2020.web.app/experiments">experiments</a> section. </p>
  <p></p>
  <p class="main-text" style="text-align: left;">Our code can be found by clicking the following link:</p>
  <a href ="https://github.com/ThomasB94/LAMAS/">
  <img class="gitimg" src="assets/imgs/Octocat.png" height="166" width="200" title="GitHub">
  </a>
</div>
<button (click)="topFunction()" id="myBtn" title="Go to top ">&uarr; &uarr; &uarr;</button>

